In [216]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [217]:
employees = pd.read_csv('employee_preprocess_200440C.csv', low_memory=False) # preprocessed
salary = pd.read_csv('train-salary.csv', low_memory=False)
attendance = pd.read_csv('train-attendance.csv', low_memory=False)
leaves = pd.read_csv('train-leaves.csv', low_memory=False)

In [218]:
print(employees.shape)
print(employees['Employee_No'].nunique(), '\n')

print(leaves.shape)
print(leaves['Employee_No'].nunique(), '\n')

print(salary.shape)
print(salary['Employee_No'].nunique(), '\n')

print(attendance.shape)
print(attendance['Employee_No'].nunique())

(997, 20)
997

(1018, 6)
70

(9035, 109)
1598

(224057, 10)
1883

In [219]:
print(leaves.columns)

Index(['Employee_No', 'leave_date', 'Type', 'Applied Date', 'Remarks',
       'apply_type'],
      dtype='object')

In [220]:
print(salary.duplicated().any())
print(attendance.duplicated().any())
print(leaves.duplicated().any())

False
False
True

In [221]:
print(salary.isna().sum().sum())
print(attendance.isna().sum().sum())
print(leaves.isna().sum().sum())

45
0
245

# Cleaning 'salary' dataset

In [222]:
salary.isna().sum()

Employee_No                 0
year                        0
month                       0
SiteNo                     45
Area                        0
                           ..
WSL Total Earning           0
WSL Total Working Days      0
WSLOther Allowance Rate     0
Working Days - Full         0
Working Days - Half Day     0
Length: 109, dtype: int64

In [223]:
df_null = salary[salary['SiteNo'].isna()]
df_null

,Employee_No,year,month,SiteNo,Area,Accomadation Allowance,Accommodation Allowance,Add. Allow. No Pay Deduction,Additional Allowance_0,Additional Allowance_2,...,WSL No of Full Worked Days,WSL No of Half Days,WSL OT 1.5,WSL OT Hours 1.5,WSL OT Rate,WSL Total Earning,WSL Total Working Days,WSLOther Allowance Rate,Working Days - Full,Working Days - Half Day
647,450,2020,6,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1517,697,2021,11,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1518,697,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1556,700,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,31.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0
1640,717,2021,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1709,739,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2155,848,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2511,918,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2543,928,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2669,967,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2812,1020,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2823,1025,2020,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3374,1197,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3500,1231,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4056,1424,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4171,1459,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4944,1686,2021,5,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5093,1747,2021,5,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5160,1771,2021,11,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5226,1795,2021,5,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5968,1954,2021,11,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6127,1976,2021,7,NaN,\N,0.0,0.0,12096.77,0.0,7500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6136,1980,2021,7,NaN,\N,0.0,0.0,18870.97,0.0,10000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6184,1985,2021,7,NaN,\N,0.0,0.0,15241.94,0.0,17500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6298,2009,2021,7,NaN,\N,0.0,0.0,13717.74,0.0,10250.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6523,2046,2021,8,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7090,2152,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7443,2259,2021,10,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7543,2298,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8030,2435,2021,12,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8728,2663,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8862,2728,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8864,2729,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8888,2742,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8890,2743,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8892,2744,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8894,2745,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8896,2746,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8898,2747,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8900,2748,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8902,2749,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8904,2750,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8913,2758,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8915,2759,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8917,2760,2022,9,NaN,\N,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [224]:
df_null['year'].unique()

array([2020, 2021, 2022], dtype=int64)

In [225]:
df_area_N = salary[salary['Area'] == '\\N']
df_area_N.shape[0]

45

In [226]:
df_not_null = salary[salary['SiteNo'].notna()]
print(df_not_null.shape)

(8990, 109)

In [227]:
test = df_not_null[df_not_null['Employee_No'] == 700]
test

,Employee_No,year,month,SiteNo,Area,Accomadation Allowance,Accommodation Allowance,Add. Allow. No Pay Deduction,Additional Allowance_0,Additional Allowance_2,...,WSL No of Full Worked Days,WSL No of Half Days,WSL OT 1.5,WSL OT Hours 1.5,WSL OT Rate,WSL Total Earning,WSL Total Working Days,WSLOther Allowance Rate,Working Days - Full,Working Days - Half Day
1557,700,2021,1,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,31.0,0.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0
1558,700,2021,5,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1559,700,2021,6,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1560,700,2021,10,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1561,700,2021,11,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1562,700,2021,12,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1563,700,2022,1,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1564,700,2022,2,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1565,700,2022,3,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1566,700,2022,4,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1567,700,2022,5,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1568,700,2022,6,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1569,700,2022,7,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1570,700,2022,8,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1571,700,2022,9,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1572,700,2022,10,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573,700,2022,11,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1574,700,2022,12,169.0,Mathara,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [228]:
for index, row in df_null.iterrows():
    f = df_not_null[df_not_null['Employee_No'] == row['Employee_No']]
    if f.shape[0] > 0:
        g = f[f['year'] == row['year']]
        if g.shape[0] > 0:
            closest = 1000
            closet_row = None
            for index1, row1 in g.iterrows():
                if abs(row1['month'] - row['month']) < abs(closest - row['month']):
                    closest = row1['month']
                    closet_row = row1
            if (12 >= closest >= 1) and (closet_row is not None):
                h = g[g['month'] == closest]
                if h.shape[0] > 0:
                    salary.at[index, 'SiteNo'] = h['SiteNo'].mode()[0]
                    if row['Area'] == '\\N':
                        salary.at[index, 'Area'] = h['Area'].mode()[0]
                else:
                    print('Error 1') # Error
            else:
                print('Error 2') # Error
        else:
            closest = 1000
            closet_row = None
            for index1, row1 in f.iterrows():
                if abs(row1['month'] - row['month']) < abs(closest - row['month']):
                    closest = row1['month']
                    closet_row = row1
            if (12 >= closest >= 1) and (closet_row is not None):
                h = f[f['month'] == closest]
                if h.shape[0] > 0:
                    salary.at[index, 'SiteNo'] = f['SiteNo'].mode()[0]
                    if row['Area'] == '\\N':
                        salary.at[index, 'Area'] = f['Area'].mode()[0]
                else:
                    print('Error 1.1')
            else:
                print('Error 2.1')
    else:
        i = df_not_null[df_not_null['year'] == row['year']]
        if i.shape[0] > 0:
            months = i['month'].unique()
            closest = 1000
            for m in months:
                if abs(m - row['month']) < abs(closest - row['month']):
                    closest = m
            if 12 >= closest >= 1:
                j = i[i['month'] == closest]
                if j.shape[0] > 0:
                    salary.at[index, 'SiteNo'] = j['SiteNo'].mode()[0]
                    if row['Area'] == '\\N':
                        salary.at[index, 'Area'] = j['Area'].mode()[0]
                else:
                    print('Error 3')
            else:
                print('Error 4')
        else:
            salary.at[index, 'SiteNo'] = df_not_null['SiteNo'].mode()[0]
            if row['Area'] == '\\N':
                salary.at[index, 'Area'] = df_not_null['Area'].mode()[0]

In [229]:
print(salary.isna().sum().sum())

0

In [230]:
salary[salary['Area'] == '\\N'].shape[0]

0

# Cleaning 'employees' dataset (minor cleaning)

In [231]:
employees.columns

Index(['Unnamed: 0', 'Employee_No', 'Employee_Code', 'Name', 'Title', 'Gender',
       'Religion_ID', 'Marital_Status', 'Designation_ID', 'Date_Joined',
       'Date_Resigned', 'Status', 'Inactive_Date', 'Reporting_emp_1',
       'Reporting_emp_2', 'Employment_Category', 'Employment_Type', 'Religion',
       'Designation', 'Year_of_Birth'],
      dtype='object')

In [232]:
employees = employees.drop(['Unnamed: 0', 'Employee_Code', 'Religion_ID', 'Designation_ID', 'Reporting_emp_1', 'Reporting_emp_2'], axis=1)
employees

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,\N,Active,\N,Staff,Permanant,Buddhist,Driver,1965
1,348,Francis Mraz,Mr,Male,Married,3/14/1995,\N,Active,\N,Staff,Permanant,Buddhist,Driver,1973
2,349,Mr Emmet Blick Jr,Mr,Male,Married,1/27/1988,6/28/2021,Inactive,6/28/2021,Staff,Permanant,Buddhist,Account Clerk,1974
3,351,Mr Nelson Braun PhD,Ms,Female,Married,10/1/1999,1/31/2022,Inactive,1/31/2022,Staff,Permanant,Catholic,Purchasing Officer,1974
4,352,Maximillian Hand,Mr,Male,Married,1/26/2001,\N,Active,\N,Staff,Permanant,Buddhist,Store Keeper,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,2836,Janis Borer Jr,Ms,Female,Single,11/1/2022,12/22/2022,Inactive,12/22/2022,Staff,Contarct Basis,Buddhist,Account Executive,1993
993,2890,Delphia Haley,Mr,Male,Single,11/21/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1994
994,2972,Lance Stanton,Mr,Male,Single,12/5/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Software Developer,1997
995,2973,Chauncey Reilly,Mr,Male,Single,12/8/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1990
996,3041,Sudath,Mr,Male,Married,12/20/2022,\N,Active,\N,Management,Contarct Basis,Buddhist,Accountant,1979

In [233]:
# employees['Resigned'] = np.nan
# for index, row in employees.iterrows():
#     if row['Date_Resigned'] == '\\N' and row['Inactive_Date'] == '\\N':
#         employees.at[index, 'Resigned'] = 0
#     else:
#         employees.at[index, 'Resigned'] = 1
# employees['Resigned'] = employees['Resigned'].astype('int64')
# print(employees.isna().sum().sum())
# display(employees)

In [234]:
employees = employees.reset_index(drop=True)
salary = salary.reset_index(drop=True)
attendance = attendance.reset_index(drop=True)

In [235]:
employees

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,\N,Active,\N,Staff,Permanant,Buddhist,Driver,1965
1,348,Francis Mraz,Mr,Male,Married,3/14/1995,\N,Active,\N,Staff,Permanant,Buddhist,Driver,1973
2,349,Mr Emmet Blick Jr,Mr,Male,Married,1/27/1988,6/28/2021,Inactive,6/28/2021,Staff,Permanant,Buddhist,Account Clerk,1974
3,351,Mr Nelson Braun PhD,Ms,Female,Married,10/1/1999,1/31/2022,Inactive,1/31/2022,Staff,Permanant,Catholic,Purchasing Officer,1974
4,352,Maximillian Hand,Mr,Male,Married,1/26/2001,\N,Active,\N,Staff,Permanant,Buddhist,Store Keeper,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,2836,Janis Borer Jr,Ms,Female,Single,11/1/2022,12/22/2022,Inactive,12/22/2022,Staff,Contarct Basis,Buddhist,Account Executive,1993
993,2890,Delphia Haley,Mr,Male,Single,11/21/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1994
994,2972,Lance Stanton,Mr,Male,Single,12/5/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Software Developer,1997
995,2973,Chauncey Reilly,Mr,Male,Single,12/8/2022,\N,Active,\N,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1990
996,3041,Sudath,Mr,Male,Married,12/20/2022,\N,Active,\N,Management,Contarct Basis,Buddhist,Accountant,1979

In [236]:
employees.dtypes

Employee_No             int64
Name                   object
Title                  object
Gender                 object
Marital_Status         object
Date_Joined            object
Date_Resigned          object
Status                 object
Inactive_Date          object
Employment_Category    object
Employment_Type        object
Religion               object
Designation            object
Year_of_Birth           int64
dtype: object

In [237]:
employees['Employee_No'] = employees['Employee_No'].astype('int32')
employees['Year_of_Birth'] = employees['Year_of_Birth'].astype('int32')
# employees['Resigned'] = employees['Resigned'].astype('int32')
employees.loc[employees['Date_Resigned'] == '\\N', 'Date_Resigned'] = ''
employees.loc[employees['Inactive_Date'] == '\\N', 'Inactive_Date'] = ''

In [238]:
employees

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965
1,348,Francis Mraz,Mr,Male,Married,3/14/1995,,Active,,Staff,Permanant,Buddhist,Driver,1973
2,349,Mr Emmet Blick Jr,Mr,Male,Married,1/27/1988,6/28/2021,Inactive,6/28/2021,Staff,Permanant,Buddhist,Account Clerk,1974
3,351,Mr Nelson Braun PhD,Ms,Female,Married,10/1/1999,1/31/2022,Inactive,1/31/2022,Staff,Permanant,Catholic,Purchasing Officer,1974
4,352,Maximillian Hand,Mr,Male,Married,1/26/2001,,Active,,Staff,Permanant,Buddhist,Store Keeper,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,2836,Janis Borer Jr,Ms,Female,Single,11/1/2022,12/22/2022,Inactive,12/22/2022,Staff,Contarct Basis,Buddhist,Account Executive,1993
993,2890,Delphia Haley,Mr,Male,Single,11/21/2022,,Active,,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1994
994,2972,Lance Stanton,Mr,Male,Single,12/5/2022,,Active,,Staff,Contarct Basis,Buddhist,Software Developer,1997
995,2973,Chauncey Reilly,Mr,Male,Single,12/8/2022,,Active,,Staff,Contarct Basis,Buddhist,Quantity Surveyor,1990
996,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,Contarct Basis,Buddhist,Accountant,1979

In [239]:
salary

,Employee_No,year,month,SiteNo,Area,Accomadation Allowance,Accommodation Allowance,Add. Allow. No Pay Deduction,Additional Allowance_0,Additional Allowance_2,...,WSL No of Full Worked Days,WSL No of Half Days,WSL OT 1.5,WSL OT Hours 1.5,WSL OT Rate,WSL Total Earning,WSL Total Working Days,WSLOther Allowance Rate,Working Days - Full,Working Days - Half Day
0,347,2021,7,1.0,Colombo,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,347,2021,8,1.0,Colombo,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,347,2021,9,1.0,Colombo,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,347,2021,10,1.0,Colombo,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,347,2021,11,1.0,Colombo,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9030,3043,2022,12,194.1,Anuradhapura,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9031,3044,2022,12,194.1,Anuradhapura,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9032,3045,2022,12,194.1,Anuradhapura,0.0,0.0,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9033,3084,2022,12,197.0,Badulla,0.0,0.0,41666.67,0.0,25000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9034,3095,2022,12,179.1,Kandy,0.0,0.0,0.00,0.0,0.0,...,4.0,0.0,0.0,0.0,937.5,20000.0,4.0,0.0,0.0,0.0

In [240]:
salary.dtypes

Employee_No                  int64
year                         int64
month                        int64
SiteNo                     float64
Area                        object
                            ...
WSL Total Earning          float64
WSL Total Working Days     float64
WSLOther Allowance Rate    float64
Working Days - Full        float64
Working Days - Half Day    float64
Length: 109, dtype: object

In [241]:
salary['Employee_No'] = salary['Employee_No'].astype('int32')
salary['year'] = salary['year'].astype('int32')
salary['month'] = salary['month'].astype('int32')
salary['SiteNo'] = salary['SiteNo'].astype('int32')

In [242]:
for col in salary.columns.tolist():
    print(salary[salary[col] == '\\N'].shape[0], ' - ', col)

0  -  Employee_No
0  -  year
0  -  month
0  -  SiteNo
0  -  Area
0  -  Accomadation Allowance
0  -  Accommodation Allowance
0  -  Add. Allow. No Pay Deduction
0  -  Additional Allowance_0
0  -  Additional Allowance_2
0  -  Allow - Extra Working Hours
0  -  Attendance Allowance Rate
0  -  Attendance Allowance_0
0  -  Attendance Allowance_2
0  -  BRA1
0  -  BRA1 Amount
0  -  BRA1WSL
0  -  BRA2
0  -  BRA2 Amount
0  -  BRA2WSL
0  -  Basic Day Rate
0  -  Basic Rate for EPF
0  -  Basic Rate_2
0  -  Basic Rate_3
0  -  Basic Salary for EPF
0  -  Basic Salary_0
0  -  Basic Salary_2
0  -  Basic per Day
0  -  EPF Employee 8%
0  -  EPF Employer 12%
0  -  EPF Staff No Pay Full Day
0  -  EPF Staff No Pay Half Day
0  -  EPF staff Halfdays
0  -  EPF staff full workdays
0  -  ETF Employer 3%
0  -  Ex Work Hours Allownace
0  -  Fixed Amount
0  -  Fixed OT Entitlement
0  -  Fixed OT Hours
0  -  Hard Ship Allowance Rate
0  -  Hard Ship Allowance_0
0  -  Hard Ship Allowance_2
0  -  Hard ship Allowance Rate
0  -  Leave Leave Full Day
0  -  Leave Leave Halfday
0  -  Lieu Leave
0  -  Meal Allowance
0  -  Month Day Count
0  -  Net Salary
0  -  No Pay
0  -  No Pay Days
0  -  No Pay Deduction
0  -  No Pay Rate
0  -  No of Full Worked Days
0  -  No of Half Days
0  -  OT (Type = 2)
0  -  OT Amount 1.5_0
0  -  OT Amount 1.5_2
0  -  OT Hours
0  -  OT Rate
0  -  OT Rate 1.5
0  -  OT Rate 2
0  -  Other Allowance
0  -  Other Allowance Amount
0  -  Other Allowance Rate
0  -  Other Deduction
0  -  Payee Month
0  -  Per Day Rate Total
0  -  Performance Allowance
0  -  Performance Allowance Rate
0  -  Performance Allownace Fixed
0  -  Salary Advance
0  -  Salary Arrears_0
0  -  Salary Arrears_2
0  -  Site Fixed Allowance
0  -  Special Allowance
0  -  Special Task Allowance
0  -  Stamp Duty
0  -  Telephone Allowance
0  -  Telephone Deduction
0  -  Total Cost to the Company
0  -  Total Deduction
0  -  Total Earnings_0
0  -  Total Earnings_2
0  -  Total Fixed
0  -  Total V.Allowance
0  -  Total Working Days
0  -  Travelling Allowance
0  -  V. ALLW -Site
0  -  V. ALLW Rate -Site
0  -  V. Allow - Drivers Travel
0  -  V. Allow - Operator
0  -  V. Allowance Attendance
0  -  Vehicle Allownace
0  -  WSL Advance
0  -  WSL Basic
0  -  WSL Basic Salary
0  -  WSL Day Rate
0  -  WSL Net Salary
0  -  WSL No of Full Worked Days
0  -  WSL No of Half Days
0  -  WSL OT 1.5
0  -  WSL OT Hours 1.5
0  -  WSL OT Rate
0  -  WSL Total Earning
0  -  WSL Total Working Days
0  -  WSLOther Allowance Rate
0  -  Working Days - Full
0  -  Working Days - Half Day

# Cleaning 'attendance' dataset

In [243]:
attendance

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
0,280220,100.0,2/1/2021,2/1/2021,1272,8:30:00,17:00:00,8.5,8:30:00,17:00:00
1,280307,1.0,2/1/2021,2/1/2021,1539,8:30:00,17:00:00,8.5,8:30:00,17:00:00
2,280312,1.0,2/1/2021,2/1/2021,1540,7:45:00,17:00:00,9.25,8:30:00,17:00:00
3,280385,100.0,2/1/2021,2/1/2021,1273,8:00:00,18:00:00,10,8:30:00,17:00:00
4,322526,1.0,2/1/2021,2/1/2021,573,23:22:28,23:22:28,0,8:30:00,17:00:00
...,...,...,...,...,...,...,...,...,...,...
224052,1049809,206.0,8/18/2103,8/18/2103,2455,7:06:00,12:07:41,5.03,8:00:00,17:00:00
224053,1049810,206.0,8/18/2103,8/18/2103,2453,6:31:00,17:15:05,10.73,8:00:00,17:00:00
224054,986797,206.0,8/19/2103,8/19/2103,2406,7:35:41,7:35:41,0,0:00:00,0:00:00
224055,986798,206.0,8/19/2103,8/19/2103,2429,7:35:34,7:35:34,0,0:00:00,0:00:00
224056,986800,206.0,8/19/2103,8/19/2103,2428,7:14:24,7:14:24,0,0:00:00,0:00:00

In [244]:
attendance.dtypes

id                int64
project_code    float64
date             object
out_date         object
Employee_No       int64
in_time          object
out_time         object
Hourly_Time      object
Shift_Start      object
Shift_End        object
dtype: object

In [245]:
attendance['project_code'] = attendance['project_code'].astype('int32')
attendance['Employee_No'] = attendance['Employee_No'].astype('int32')

In [246]:
for col in attendance.columns.tolist():
    print(attendance[attendance[col] == '\\N'].shape[0], ' - ', col)

0  -  id
0  -  project_code
0  -  date
0  -  out_date
0  -  Employee_No
0  -  in_time
0  -  out_time
15  -  Hourly_Time
0  -  Shift_Start
0  -  Shift_End

In [247]:
df_N = attendance[attendance['Hourly_Time'] == '\\N']
df_N

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
735,340612,199,2/6/2021,2/6/2021,399,7:30:00,24:00:00,\N,8:00:00,17:00:00
4927,351400,198,3/4/2021,3/5/2021,908,7:30:00,24:00:00,\N,8:00:00,17:00:00
5617,341167,199,3/6/2021,3/6/2021,399,7:30:00,24:00:00,\N,8:00:00,17:00:00
9560,348467,190,3/17/2021,3/18/2021,501,7:05:00,24:00:00,\N,8:00:00,17:00:00
9561,348481,190,3/17/2021,3/18/2021,1218,7:55:00,24:00:00,\N,8:00:00,17:00:00
9562,348493,190,3/17/2021,3/18/2021,1085,7:55:00,24:00:00,\N,8:00:00,17:00:00
9856,341522,199,3/18/2021,3/18/2021,813,8:00:00,24:00:00,\N,8:00:00,17:00:00
15553,400868,196,4/2/2021,4/2/2021,1551,7:33:24,24:50:00,\N,8:00:00,17:00:00
16814,389076,169,4/6/2021,4/6/2021,385,8:00:00,24:00:00,\N,8:00:00,17:00:00
25682,436125,198,5/7/2021,5/7/2021,413,7:40:00,24:00:00,\N,8:00:00,17:00:00
29689,516864,198,5/19/2021,5/20/2021,584,8:04:47,24:00:00,\N,8:00:00,17:00:00
32645,517402,198,5/29/2021,5/29/2021,1737,7:55:26,24:00:00,\N,8:00:00,17:00:00
42524,535416,198,6/22/2021,6/22/2021,1013,7:54:17,24:00:00,\N,8:00:00,17:00:00
43554,535419,198,6/25/2021,6/25/2021,1013,8:00:27,24:00:00,\N,8:00:00,17:00:00
49981,579590,203,7/11/2021,7/11/2021,1960,4:00:00,24:00:00,\N,0:00:00,0:00:00

In [248]:
for index, row in attendance.iterrows():
    if int(row['out_time'].split(':')[0]) == 24:
        in_time = row['in_time'].split(':')
        out_time = row['out_time'].split(':')

        date = row['date'].split('/')
        out_date = row['out_date'].split('/')
        if date[1] <= out_date[1]:
            out_date = out_date[0] +'/' + str(int(date[1]) + 1) + '/' + out_date[2]
            attendance.at[index, 'out_date'] = out_date

        out_time = '0:' + out_time[1] + ':' + out_time[2]
        attendance.at[index, 'out_time'] = out_time

In [249]:
df_N = attendance[attendance['Hourly_Time'] == '\\N']
df_N

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
735,340612,199,2/6/2021,2/7/2021,399,7:30:00,0:00:00,\N,8:00:00,17:00:00
4927,351400,198,3/4/2021,3/5/2021,908,7:30:00,0:00:00,\N,8:00:00,17:00:00
5617,341167,199,3/6/2021,3/7/2021,399,7:30:00,0:00:00,\N,8:00:00,17:00:00
9560,348467,190,3/17/2021,3/18/2021,501,7:05:00,0:00:00,\N,8:00:00,17:00:00
9561,348481,190,3/17/2021,3/18/2021,1218,7:55:00,0:00:00,\N,8:00:00,17:00:00
9562,348493,190,3/17/2021,3/18/2021,1085,7:55:00,0:00:00,\N,8:00:00,17:00:00
9856,341522,199,3/18/2021,3/19/2021,813,8:00:00,0:00:00,\N,8:00:00,17:00:00
15553,400868,196,4/2/2021,4/3/2021,1551,7:33:24,0:50:00,\N,8:00:00,17:00:00
16814,389076,169,4/6/2021,4/7/2021,385,8:00:00,0:00:00,\N,8:00:00,17:00:00
25682,436125,198,5/7/2021,5/8/2021,413,7:40:00,0:00:00,\N,8:00:00,17:00:00
29689,516864,198,5/19/2021,5/20/2021,584,8:04:47,0:00:00,\N,8:00:00,17:00:00
32645,517402,198,5/29/2021,5/30/2021,1737,7:55:26,0:00:00,\N,8:00:00,17:00:00
42524,535416,198,6/22/2021,6/23/2021,1013,7:54:17,0:00:00,\N,8:00:00,17:00:00
43554,535419,198,6/25/2021,6/26/2021,1013,8:00:27,0:00:00,\N,8:00:00,17:00:00
49981,579590,203,7/11/2021,7/12/2021,1960,4:00:00,0:00:00,\N,0:00:00,0:00:00

In [250]:
changed = []
for index, row in attendance.iterrows():
    if row['Hourly_Time'] == '\\N':
        in_time = row['in_time'].split(':')
        in_time = int(in_time[0]) * 3600 + int(in_time[1]) * 60 + int(in_time[2])
        out_time = row['out_time'].split(':')
        if int(out_time[0]) == 0:
            out_time = 24 * 3600 + int(out_time[1]) * 60 + int(out_time[2])
        else:
            out_time = int(out_time[0]) * 3600 + int(out_time[1]) * 60 + int(out_time[2])
        if in_time <= out_time:
            hourly_time = round((out_time - in_time) / 3600, 2)
            print(row['in_time'], row['out_time'], hourly_time, index)
            attendance.at[index, 'Hourly_Time'] = hourly_time
            changed.append(index)
        else:
            print('Error')

7:30:00 0:00:00 16.5 735
7:30:00 0:00:00 16.5 4927
7:30:00 0:00:00 16.5 5617
7:05:00 0:00:00 16.92 9560
7:55:00 0:00:00 16.08 9561
7:55:00 0:00:00 16.08 9562
8:00:00 0:00:00 16.0 9856
7:33:24 0:50:00 17.28 15553
8:00:00 0:00:00 16.0 16814
7:40:00 0:00:00 16.33 25682
8:04:47 0:00:00 15.92 29689
7:55:26 0:00:00 16.08 32645
7:54:17 0:00:00 16.1 42524
8:00:27 0:00:00 15.99 43554
4:00:00 0:00:00 20.0 49981

In [251]:
for row in changed:
    print(attendance.iloc[row])

id                340612
project_code         199
date            2/6/2021
out_date        2/7/2021
Employee_No          399
in_time          7:30:00
out_time         0:00:00
Hourly_Time         16.5
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 735, dtype: object
id                351400
project_code         198
date            3/4/2021
out_date        3/5/2021
Employee_No          908
in_time          7:30:00
out_time         0:00:00
Hourly_Time         16.5
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 4927, dtype: object
id                341167
project_code         199
date            3/6/2021
out_date        3/7/2021
Employee_No          399
in_time          7:30:00
out_time         0:00:00
Hourly_Time         16.5
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 5617, dtype: object
id                 348467
project_code          190
date            3/17/2021
out_date        3/18/2021
Employee_No           501
in_time           7:05:00
out_time          0:00:00
Hourly_Time         16.92
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 9560, dtype: object
id                 348481
project_code          190
date            3/17/2021
out_date        3/18/2021
Employee_No          1218
in_time           7:55:00
out_time          0:00:00
Hourly_Time         16.08
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 9561, dtype: object
id                 348493
project_code          190
date            3/17/2021
out_date        3/18/2021
Employee_No          1085
in_time           7:55:00
out_time          0:00:00
Hourly_Time         16.08
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 9562, dtype: object
id                 341522
project_code          199
date            3/18/2021
out_date        3/19/2021
Employee_No           813
in_time           8:00:00
out_time          0:00:00
Hourly_Time          16.0
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 9856, dtype: object
id                400868
project_code         196
date            4/2/2021
out_date        4/3/2021
Employee_No         1551
in_time          7:33:24
out_time         0:50:00
Hourly_Time        17.28
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 15553, dtype: object
id                389076
project_code         169
date            4/6/2021
out_date        4/7/2021
Employee_No          385
in_time          8:00:00
out_time         0:00:00
Hourly_Time         16.0
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 16814, dtype: object
id                436125
project_code         198
date            5/7/2021
out_date        5/8/2021
Employee_No          413
in_time          7:40:00
out_time         0:00:00
Hourly_Time        16.33
Shift_Start      8:00:00
Shift_End       17:00:00
Name: 25682, dtype: object
id                 516864
project_code          198
date            5/19/2021
out_date        5/20/2021
Employee_No           584
in_time           8:04:47
out_time          0:00:00
Hourly_Time         15.92
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 29689, dtype: object
id                 517402
project_code          198
date            5/29/2021
out_date        5/30/2021
Employee_No          1737
in_time           7:55:26
out_time          0:00:00
Hourly_Time         16.08
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 32645, dtype: object
id                 535416
project_code          198
date            6/22/2021
out_date        6/23/2021
Employee_No          1013
in_time           7:54:17
out_time          0:00:00
Hourly_Time          16.1
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 42524, dtype: object
id                 535419
project_code          198
date            6/25/2021
out_date        6/26/2021
Employee_No          1013
in_time           8:00:27
out_time          0:00:00
Hourly_Time         15.99
Shift_Start       8:00:00
Shift_End        17:00:00
Name: 43554, dtype: object
id                 579590
project_code          203
date            7/11/2021
out_date        7/12/2021
Employee_No          1960
in_time           4:00:00
out_time          0:00:00
Hourly_Time          20.0
Shift_Start       0:00:00
Shift_End         0:00:00
Name: 49981, dtype: object

In [252]:
attendance[(attendance['date'] == '0000-00-00') | (attendance['out_date'] == '0000-00-00')]

,id,project_code,date,out_date,Employee_No,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
142203,1265422,201,2/28/2022,0000-00-00,2392,8:00:00,0:45:03,16.75,8:00:00,17:00:00

In [253]:
attendance.at[142203, 'out_date'] = '3/1/2022'

# Cleaning 'leaves' dataset

In [254]:
leaves = leaves.drop_duplicates()

In [255]:
print(leaves.duplicated().any())

False

In [256]:
leaves.isna().sum()

Employee_No       0
leave_date        0
Type              0
Applied Date      0
Remarks         245
apply_type        0
dtype: int64

In [257]:
leaves = leaves.fillna('\\N')

In [258]:
leaves.isna().sum()

Employee_No     0
leave_date      0
Type            0
Applied Date    0
Remarks         0
apply_type      0
dtype: int64

# Look for outliers in employees

In [259]:
employees.boxplot(['Year_of_Birth'])

# Look for outliers in salary

In [260]:
# for col in salary.columns.tolist():
#     if salary[col].dtype == np.int32 or salary[col].dtype == np.int64 or salary[col].dtype == np.float64:
#         plt.figure()
#         salary.boxplot([col])

for col in salary.columns.tolist():
    if salary[col].dtype == np.int32 or salary[col].dtype == np.int64 or salary[col].dtype == np.float64:
        min_val = salary[col].min()
        median_val = salary[col].median()
        mean_val = salary[col].mean()
        max_val = salary[col].mean()
        print(col, round(min_val), round(median_val), round(mean_val), round(max_val))

Employee_No 347 1565 1517 1517
year 2020 2022 2021 2021
month 1 7 7 7
SiteNo 1 194 176 176
Accomadation Allowance 0 0 4 4
Accommodation Allowance 0 0 22 22
Add. Allow. No Pay Deduction 0 0 653 653
Additional Allowance_0 0 0 3 3
Additional Allowance_2 0 0 6262 6262
Allow - Extra Working Hours 0 0 315 315
Attendance Allowance Rate 0 0 13 13
Attendance Allowance_0 0 0 209 209
Attendance Allowance_2 0 0 104 104
BRA1 0 40 200 200
BRA1 Amount 0 400 457 457
BRA1WSL 0 0 1 1
BRA2 0 100 734 734
BRA2 Amount 0 1000 1144 1144
BRA2WSL 0 0 2 2
Basic Day Rate 0 500 397 397
Basic Rate for EPF 0 640 482 482
Basic Rate_2 0 0 11980 11980
Basic Rate_3 0 0 369 369
Basic Salary for EPF 0 0 6485 6485
Basic Salary_0 0 16000 21031 21031
Basic Salary_2 0 0 250 250
Basic per Day 0 500 647 647
EPF Employee 8% 0 166 1068 1068
EPF Employer 12% 0 248 1603 1603
EPF Staff No Pay Full Day 0 0 1 1
EPF Staff No Pay Half Day 0 0 0 0
EPF staff Halfdays 0 0 0 0
EPF staff full workdays 0 0 7 7
ETF Employer 3% 0 62 401 401
Ex Work Hours Allownace 0 0 288 288
Fixed Amount 0 0 9349 9349
Fixed OT Entitlement 0 0 778 778
Fixed OT Hours 0 0 6 6
Hard Ship Allowance Rate 0 0 11 11
Hard Ship Allowance_0 0 0 228 228
Hard Ship Allowance_2 0 0 117 117
Hard ship Allowance Rate 0 0 1 1
Leave Leave Full Day 0 0 0 0
Leave Leave Halfday 0 0 0 0
Lieu Leave 0 0 0 0
Meal Allowance 0 0 4 4
Month Day Count 0 0 6 6
Net Salary 0 33475 40685 40685
No Pay 0 0 9 9
No Pay Days 0 0 1 1
No Pay Deduction 0 0 870 870
No Pay Rate 0 0 2 2
No of Full Worked Days 0 10 11 11
No of Half Days 0 0 0 0
OT (Type = 2) 0 0 4 4
OT Amount 1.5_0 0 0 3089 3089
OT Amount 1.5_2 0 0 20 20
OT Hours 0 0 20 20
OT Rate 0 0 74 74
OT Rate 1.5 0 120 92 92
OT Rate 2 0 0 29 29
Other Allowance 0 0 1252 1252
Other Allowance Amount 0 3195 8740 8740
Other Allowance Rate 0 460 479 479
Other Deduction 0 0 123 123
Payee Month 0 0 27 27
Per Day Rate Total 0 1200 959 959
Performance Allowance 0 0 607 607
Performance Allowance Rate 0 0 678 678
Performance Allownace Fixed 0 0 1281 1281
Salary Advance 0 0 1177 1177
Salary Arrears_0 0 0 128 128
Salary Arrears_2 0 0 3 3
Site Fixed Allowance 0 0 28 28
Special Allowance 0 0 18 18
Special Task Allowance 0 0 41 41
Stamp Duty 0 25 18 18
Telephone Allowance 0 0 7 7
Telephone Deduction 0 0 2 2
Total Cost to the Company 0 0 11456 11456
Total Deduction 0 1025 3676 3676
Total Earnings_0 0 0 334 334
Total Earnings_2 0 37274 45104 45104
Total Fixed 0 0 22115 22115
Total V.Allowance 0 0 833 833
Total Working Days 0 21 19 19
Travelling Allowance 0 0 333 333
V. ALLW -Site 0 0 118 118
V. ALLW Rate -Site 0 0 4 4
V. Allow - Drivers Travel 0 0 18 18
V. Allow - Operator 0 0 14 14
V. Allowance Attendance 0 0 68 68
Vehicle Allownace 0 0 0 0
WSL Advance 0 0 268 268
WSL Basic 0 0 27 27
WSL Basic Salary 0 0 842 842
WSL Day Rate 0 0 44 44
WSL Net Salary 0 0 228 228
WSL No of Full Worked Days 0 0 0 0
WSL No of Half Days 0 0 0 0
WSL OT 1.5 0 0 35 35
WSL OT Hours 1.5 0 0 0 0
WSL OT Rate 0 0 3 3
WSL Total Earning 0 0 489 489
WSL Total Working Days 0 0 0 0
WSLOther Allowance Rate 0 0 14 14
Working Days - Full 0 0 0 0
Working Days - Half Day 0 0 0 0

# Merge the 'salary', 'attendance' and 'leaves' datasets with 'employees' dataset

In [261]:
employees_salary = pd.merge(employees, salary, how='inner', on=['Employee_No'])
employees_attendance = pd.merge(employees, attendance, how='inner', on=['Employee_No'])
employees_leaves = pd.merge(employees, leaves, how='inner', on=['Employee_No'])

print(employees_salary.shape)
print(employees_salary['Employee_No'].nunique(), '\n')

print(employees_attendance.shape)
print(employees_attendance['Employee_No'].nunique(), '\n')

print(employees_leaves.shape)
print(employees_leaves['Employee_No'].nunique())

(5760, 122)
719

(144475, 23)
742

(886, 19)
57

In [262]:
print(employees_salary.duplicated().any())
print(employees_attendance.duplicated().any())
print(employees_leaves.duplicated().any())

False
False
False

In [263]:
print(employees_salary.isna().sum().sum())
print(employees_attendance.isna().sum().sum())
print(employees_leaves.isna().sum().sum())

0
0
0

In [264]:
employees_salary = employees_salary.reset_index(drop=True)
employees_attendance = employees_attendance.reset_index(drop=True)
employees_leaves = employees_leaves.reset_index(drop=True)

In [265]:
employees_salary

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,...,WSL No of Full Worked Days,WSL No of Half Days,WSL OT 1.5,WSL OT Hours 1.5,WSL OT Rate,WSL Total Earning,WSL Total Working Days,WSLOther Allowance Rate,Working Days - Full,Working Days - Half Day
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755,2890,Delphia Haley,Mr,Male,Single,11/21/2022,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5756,2972,Lance Stanton,Mr,Male,Single,12/5/2022,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5757,2973,Chauncey Reilly,Mr,Male,Single,12/8/2022,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5758,2973,Chauncey Reilly,Mr,Male,Single,12/8/2022,,Active,,Staff,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5759,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [266]:
employees_attendance

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,...,Year_of_Birth,id,project_code,date,out_date,in_time,out_time,Hourly_Time,Shift_Start,Shift_End
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,1965,322582,1,2/1/2021,2/1/2021,8:28:33,18:36:00,10.12,8:30:00,17:00:00
1,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,1965,377359,1,3/1/2021,3/1/2021,9:07:56,18:00:24,8.87,8:30:00,17:00:00
2,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,1965,377360,193,3/1/2021,3/1/2021,8:28:43,17:08:19,8.66,8:30:00,17:00:00
3,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,1965,377361,1,3/2/2021,3/2/2021,8:58:34,18:05:30,9.12,8:30:00,17:00:00
4,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,...,1965,377362,193,3/2/2021,3/2/2021,8:19:10,17:25:48,9.11,8:30:00,17:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144470,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,1979,6918582,1,12/27/2022,12/27/2022,8:26:17,17:33:06,9.11,8:30:00,17:00:00
144471,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,1979,6936778,1,12/28/2022,12/28/2022,8:34:54,8:34:54,0,8:30:00,17:00:00
144472,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,1979,7100645,1,1/3/2023,1/3/2023,7:57:06,7:57:06,0,8:30:00,17:00:00
144473,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,1979,7156068,1,1/4/2023,1/4/2023,8:16:05,18:06:42,9.84,8:30:00,17:00:00
144474,3041,Sudath,Mr,Male,Married,12/20/2022,,Active,,Management,...,1979,7156046,1,1/5/2023,1/5/2023,7:58:16,7:58:16,0,8:30:00,17:00:00

In [267]:
employees_leaves

,Employee_No,Name,Title,Gender,Marital_Status,Date_Joined,Date_Resigned,Status,Inactive_Date,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth,leave_date,Type,Applied Date,Remarks,apply_type
0,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965,1/29/2020,Half Day,1/4/2022 15:33,\N,Anual
1,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965,1/29/2020,Half Day,1/4/2022 15:36,\N,Anual
2,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965,1/29/2020,Half Day,1/4/2022 18:02,\N,Anual
3,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965,5/12/2022,Full Day,6/13/2022 10:30,\N,Anual
4,347,Myrl Bechtelar MD,Mr,Male,Married,12/8/1993,,Active,,Staff,Permanant,Buddhist,Driver,1965,5/13/2022,Full Day,6/13/2022 10:30,\N,Anual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,2737,Prof Ismael Prosacco,Mr,Male,Married,9/27/2022,,Active,,Staff,Contarct Basis,Buddhist,Assistant Accountant,1984,12/8/2022,Full Day,2/3/2023 16:05,Personal,Casual
882,2831,Ms Katelin Medhurst,Mr,Male,Single,10/25/2022,,Active,,Staff,Contarct Basis,Buddhist,Management Trainee,1996,11/19/2022,Half Day,12/8/2022 18:20,For channel doctor,Casual
883,2972,Lance Stanton,Mr,Male,Single,12/5/2022,,Active,,Staff,Contarct Basis,Buddhist,Software Developer,1997,12/31/2022,Half Day,1/7/2023 11:20,Personal,Casual
884,2972,Lance Stanton,Mr,Male,Single,12/5/2022,,Active,,Staff,Contarct Basis,Buddhist,Software Developer,1997,1/28/2023,Half Day,2/3/2023 14:00,Personal,Casual
885,2972,Lance Stanton,Mr,Male,Single,12/5/2022,,Active,,Staff,Contarct Basis,Buddhist,Software Developer,1997,1/30/2023,Full Day,2/3/2023 14:00,Personal,Casual

# Export the cleaned datasets

In [268]:
employees.to_csv('final_datasets/employees.csv')
salary.to_csv('final_datasets/salary.csv')
attendance.to_csv('final_datasets/attendance.csv')
employees_salary.to_csv('final_datasets/employees_salary.csv')
employees_attendance.to_csv('final_datasets/employees_attendance.csv')

In [45]:
test = pd.read_csv('final_datasets/employees_attendance.csv', low_memory=False)
test.shape

(144475, 24)